Source: parch-locationforecastload
Section: science 
Priority: extra
Maintainer: Vegard Bones <vegard.bones@met.no>
Build-Depends: debhelper (>= 7), help2man
Standards-Version: 3.9.1

Package: parch-locationforecastload
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, locationforecastload (>= 0.5.0)
Description: Loads several locations from api.met.no/locationforecast into a wdb database
 This is a wrapper script for locationForecastLoad. It calls that program for 
 all norwegian stations with a wmo number in the wdb database. Likewise, it 
 calls locationforecastLoad for all stations mentioned in a file.

